@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');


:root{
  /* ### Primary */
   --Cyan: hsl(180, 66%, 49%);
   --DarkViolet: hsl(257, 27%, 26%);

   /* ### Secondary */

    --Red: hsl(0, 87%, 67%);
    /* ### Neutral */

    --Gray: hsl(0, 0%, 75%);
    --GrayishViolet: hsl(257, 7%, 63%);
    --VeryDarkBlue: hsl(255, 11%, 22%);
    --VeryDarkViolet: hsl(260, 8%, 14%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  max-width: 1440px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color:#fff;
}

.navToggler {
  display: none;
}

.container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}


@media(max-width:768px) {
  .navToggler {
      display: block;
      position: absolute;
      top: 1rem;
      right: 2rem;
      font-size: 2rem;
      font-weight: 300;
    }
}